@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Satisfy&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "DM Serif Display", serif;
  background-color: #a28896;
}
.background {
  position: relative;
  img {
    position: fixed;
    bottom: -72px;
    left: -128px;
    width: 514px;
    transform: rotate(16deg);
    @media (max-width: 540px) {
      width: 426px;
    }
  }
}
.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 37px;
    background-color: #ffffffa3;
    padding: 30px 0;
    box-shadow: 9px -3px 20px 3px black;
    
    @media (min-height: 1100px) {
      height: 100px;
    }
    h1 {
      font-size: 1.5rem;
      a{
        text-decoration: none;
    color: black;
      }
      @media (min-height: 1100px) {
        font-size: 2.5rem;
      }
    }
    p {
      font-size: 0.89rem;
      @media (max-width: 200px) {
        font-size: 0.75rem;
      }

      @media (min-height: 1100px) {
        font-size: 1.4rem;
      }
    }
  }

  .cardArea {
    margin-top: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .totalScore {
      display: flex;
      gap:10px;
      .sign-total, .sign-total1{
      font-family: "Satisfy", cursive;
      text-align: center;
      display: flex;
      align-items: center;
      gap: 0.3em;
      .total-sign, .total-sign1 {
        font-size: 1.1rem;
        @media (min-height: 1100px) {
          font-size: 2rem;
        }
        text-shadow: -1px 0px 5px rgb(25 25 25 / 83%);
        background-color: #a28896db;
        padding: 1px 5px;
        margin-bottom: 7px;
      }
      .score-sign,.score-sign2, .score-signO {
        font-family: "DM Serif Display", serif;
        font-weight: 700;
        display: block;
        height: 42px;
        width: 42px;
        background-color: #6f6e6e73;
        color: black;
        border-radius: 50%;
        margin-bottom: 10px;
        line-height: 2.5;
        @media (min-height: 1100px) {
          font-size: 2.5rem;
          line-height: 1.4;
          height: 60px;
          width: 60px;
        }
      }
    }
    }
    
    .cards {
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      gap: 10px;
      .win-popup1, .win-popup2{
        cursor: none;
        transition: opacity 1s;
        overflow: hidden;
        position: absolute;
        opacity: 0;
        top: 58%;
        left: 50%;
        transform: translate(-50%, -55%);
        z-index: 1;
        color: white;
        text-align: center;
        width: 90%;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        justify-content: center;
        height: 100px;
        background-color: #060104b8;
        border-radius: 3px;
        animation: glowedBox 1s ease-in-out infinite alternate;
        @keyframes glowedBox {
          from{
            box-shadow: 1px -5px 20px 0px #d52885, 0 0 20px #040303, 0 0 30px #040203, 0 0 40px #aa517e, 0 0 50px #000000, 0 0 60px #fb3c9b, 0 0 70px #de14e8;
          }

        }
        h3{
          font-weight: 500;
        animation: glowedText 1s ease-in-out infinite alternate;
        @keyframes glowedText {
          to {
            text-shadow: 0 0 10px #b79898, 0 0 20px #caabb7, 0 0 30px #a77991, 0 0 40px #aa517e, 0 0 50px #3e0923, 0 0 60px #fb3c9b, 0 0 70px #de14e8;
          }
          
          
        }
         
      }


      
      }
      .allCard {
        margin-bottom: 1em;
        position: relative;
        text-align: center;
        .cardScore {
          line-height: 2.4;
          display: flex;
          justify-content: center;
          margin-bottom: 5px;
          span {
            display: block;
            background-image: url("/assets/images/star.svg");
            background-repeat: no-repeat;
            background-size: 40px;
            width: 40px;
            height: 40px;
            color: white;
            left: 51px;

            @media (min-height: 1100px) {
              background-size: 49px;
              width: 51px;
              height: 62px;
              font-size: 23px;
            }
          }

          img {
            width: 37px;
          }
        }

        p {
          margin-bottom: 1em;
          font-size: 0.825em;
          position: absolute;
          z-index: 1;
        }
        .cardContainer {
          cursor: none;
          border-radius: 6px;
          background: #ffffff3b;
          height: 200px;
          width: 100%;
          min-width: 111px;
          border: 3px solid black;
          transition: ease-in-out 0.4s;
          color: wheat;
          img {
            width: 100%;
            height: 100%;
          }
          &:hover {
            background-color: rgb(117 76 135 / 90%);
          }

          @media (min-width: 540px) {
            min-width: 151px;
            height: 208px;
          }
          @media (max-width: 400px) {
            height: 187px;
            min-width: 89px;
          }
          @media (max-width: 304px) {
            height: 190px;
            min-width: 80px;
          }
          @media (max-width: 304px) {
            height: 170px;
            min-width: 60px;
          }
          @media (max-width: 200px) {
            height: 164px;
            min-width: 40px;
          }
          @media (max-height: 700px) {
            height: 120px;
            width: 90%;
          }
          @media (min-height: 720px) {
            height: 180px;
          }

          @media (min-height: 844px) {
            height: 220px;
            width: 95%;
          }
          @media (min-height: 900px) {
            height: 251px;
            width: 100%;
          }
          @media (min-height: 1024px) {
            height: 322px;
            min-width: 227px;
          }
        }
      }
    }
  }

  .buttons {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
    button {
      font-size: 1.2rem;
      font-family: "Satisfy", cursive;
      background-color: black;
      color: white;
      cursor: pointer;
      width: 50%;
      height: 41px;
      border: none;
      transition: ease-in-out 1s;
      border: 1px solid black;
      @media (max-width: 200px) {
        font-size: 0.9rem;
      }

      @media (min-height: 1100px) {
        height: 81px;
        font-size: 1.8rem;
      }

      &:nth-child(1) {
        border-right: 2px solid black;
        &:hover {
          box-shadow: inset 300px 0 0 0 rgb(117 76 135 / 90%);
          @media (min-width: 640px) {
            box-shadow: inset 1000px 0 0 0 rgb(117 76 135 / 90%);
          }
        }
      }

      &:nth-child(2) {
        &:hover {
          box-shadow: inset -300px 0 0 0 rgb(117 76 135 / 90%);
          @media (min-width: 640px) {
            box-shadow: inset -1000px 0 0 0 rgb(117 76 135 / 90%);
          }
        }
      }
    }
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

