@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Satisfy&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display", serif;
  background-color: #a28896;
}

.background {
  position: relative;
}
.background img {
  position: fixed;
  bottom: -72px;
  left: -128px;
  width: 514px;
  transform: rotate(16deg);
}
@media (max-width: 540px) {
  .background img {
    width: 426px;
  }
}

.container {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.6392156863);
  padding: 30px 0;
  box-shadow: 9px -3px 20px 3px black;
}
@media (min-height: 1100px) {
  .container .header {
    height: 100px;
  }
}
.container .header h1 {
  font-size: 1.5rem;
}
.container .header h1 a {
  text-decoration: none;
  color: black;
}
@media (min-height: 1100px) {
  .container .header h1 {
    font-size: 2.5rem;
  }
}
.container .header p {
  font-size: 0.89rem;
}
@media (max-width: 200px) {
  .container .header p {
    font-size: 0.75rem;
  }
}
@media (min-height: 1100px) {
  .container .header p {
    font-size: 1.4rem;
  }
}
.container .cardArea {
  margin-top: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .cardArea .totalScore {
  display: flex;
  gap: 10px;
}
.container .cardArea .totalScore .sign-total, .container .cardArea .totalScore .sign-total1 {
  font-family: "Satisfy", cursive;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 0.3em;
}
.container .cardArea .totalScore .sign-total .total-sign, .container .cardArea .totalScore .sign-total .total-sign1, .container .cardArea .totalScore .sign-total1 .total-sign, .container .cardArea .totalScore .sign-total1 .total-sign1 {
  font-size: 1.1rem;
  text-shadow: -1px 0px 5px rgba(25, 25, 25, 0.83);
  background-color: rgba(162, 136, 150, 0.8588235294);
  padding: 1px 5px;
  margin-bottom: 7px;
}
@media (min-height: 1100px) {
  .container .cardArea .totalScore .sign-total .total-sign, .container .cardArea .totalScore .sign-total .total-sign1, .container .cardArea .totalScore .sign-total1 .total-sign, .container .cardArea .totalScore .sign-total1 .total-sign1 {
    font-size: 2rem;
  }
}
.container .cardArea .totalScore .sign-total .score-sign, .container .cardArea .totalScore .sign-total .score-sign2, .container .cardArea .totalScore .sign-total .score-signO, .container .cardArea .totalScore .sign-total1 .score-sign, .container .cardArea .totalScore .sign-total1 .score-sign2, .container .cardArea .totalScore .sign-total1 .score-signO {
  font-family: "DM Serif Display", serif;
  font-weight: 700;
  display: block;
  height: 42px;
  width: 42px;
  background-color: rgba(111, 110, 110, 0.4509803922);
  color: black;
  border-radius: 50%;
  margin-bottom: 10px;
  line-height: 2.5;
}
@media (min-height: 1100px) {
  .container .cardArea .totalScore .sign-total .score-sign, .container .cardArea .totalScore .sign-total .score-sign2, .container .cardArea .totalScore .sign-total .score-signO, .container .cardArea .totalScore .sign-total1 .score-sign, .container .cardArea .totalScore .sign-total1 .score-sign2, .container .cardArea .totalScore .sign-total1 .score-signO {
    font-size: 2.5rem;
    line-height: 1.4;
    height: 60px;
    width: 60px;
  }
}
.container .cardArea .remain-cards {
  background-color: rgba(255, 255, 255, 0.4588235294);
  padding: 10px;
}
.container .cardArea .remain-animation {
  animation: can 1s ease-in-out infinite alternate;
}
@keyframes can {
  from {
    transform: scale(0.9);
    text-shadow: 0px -3px 19px black;
    box-shadow: -1px 0px 3px rgba(255, 246, 246, 0.7098039216);
  }
}
.container .cardArea .cards {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .cardArea .cards .win-popup1, .container .cardArea .cards .win-popup2 {
  cursor: none;
  transition: opacity 1s;
  overflow: hidden;
  position: absolute;
  opacity: 0;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 1;
  color: white;
  text-align: center;
  width: 90%;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  justify-content: center;
  height: 100px;
  background-color: rgba(6, 1, 4, 0.7215686275);
  border-radius: 3px;
  animation: glowedBox 1s ease-in-out infinite alternate;
}
@keyframes glowedBox {
  from {
    box-shadow: 1px -5px 20px 0px #d52885, 0 0 20px #040303, 0 0 30px #040203, 0 0 40px #aa517e, 0 0 50px #000000, 0 0 60px #fb3c9b, 0 0 70px #de14e8;
  }
}
.container .cardArea .cards .win-popup1 h3, .container .cardArea .cards .win-popup2 h3 {
  font-weight: 500;
  animation: glowedText 1s ease-in-out infinite alternate;
}
@keyframes glowedText {
  to {
    text-shadow: 0 0 10px #b79898, 0 0 20px #caabb7, 0 0 30px #a77991, 0 0 40px #aa517e, 0 0 50px #3e0923, 0 0 60px #fb3c9b, 0 0 70px #de14e8;
  }
}
.container .cardArea .cards .allCard {
  margin-bottom: 1em;
  position: relative;
  text-align: center;
}
.container .cardArea .cards .allCard .cardScore {
  line-height: 2.4;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.container .cardArea .cards .allCard .cardScore span {
  display: block;
  background-image: url("/assets/images/star.svg");
  background-repeat: no-repeat;
  background-size: 40px;
  width: 40px;
  height: 40px;
  color: white;
  left: 51px;
}
@media (min-height: 1100px) {
  .container .cardArea .cards .allCard .cardScore span {
    background-size: 49px;
    width: 51px;
    height: 62px;
    font-size: 23px;
  }
}
.container .cardArea .cards .allCard .cardScore img {
  width: 37px;
}
.container .cardArea .cards .allCard p {
  margin-bottom: 1em;
  font-size: 0.825em;
  position: absolute;
  z-index: 1;
}
.container .cardArea .cards .allCard .cardContainer {
  cursor: none;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.231372549);
  height: 200px;
  width: 100%;
  min-width: 111px;
  border: 3px solid black;
  transition: ease-in-out 0.4s;
  color: wheat;
}
.container .cardArea .cards .allCard .cardContainer img {
  width: 100%;
  height: 100%;
}
.container .cardArea .cards .allCard .cardContainer:hover {
  background-color: rgba(117, 76, 135, 0.9);
}
@media (min-width: 540px) {
  .container .cardArea .cards .allCard .cardContainer {
    min-width: 151px;
    height: 208px;
  }
}
@media (max-width: 400px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 187px;
    min-width: 89px;
  }
}
@media (max-width: 304px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 190px;
    min-width: 80px;
  }
}
@media (max-width: 304px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 170px;
    min-width: 60px;
  }
}
@media (max-width: 200px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 164px;
    min-width: 40px;
  }
}
@media (max-height: 700px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 120px;
    width: 90%;
  }
}
@media (min-height: 720px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 180px;
  }
}
@media (min-height: 844px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 220px;
    width: 95%;
  }
}
@media (min-height: 900px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 251px;
    width: 100%;
  }
}
@media (min-height: 1024px) {
  .container .cardArea .cards .allCard .cardContainer {
    height: 322px;
    min-width: 227px;
  }
}
.container .buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.container .buttons button {
  font-size: 1.2rem;
  font-family: "Satisfy", cursive;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 41px;
  border: none;
  transition: ease-in-out 1s;
  border: 1px solid black;
}
@media (max-width: 200px) {
  .container .buttons button {
    font-size: 0.9rem;
  }
}
@media (min-height: 1100px) {
  .container .buttons button {
    height: 81px;
    font-size: 1.8rem;
  }
}
.container .buttons button:nth-child(1) {
  border-right: 2px solid black;
}
.container .buttons button:nth-child(1):hover {
  box-shadow: inset 300px 0 0 0 rgba(117, 76, 135, 0.9);
}
@media (min-width: 640px) {
  .container .buttons button:nth-child(1):hover {
    box-shadow: inset 1000px 0 0 0 rgba(117, 76, 135, 0.9);
  }
}
.container .buttons button:nth-child(2):hover {
  box-shadow: inset -300px 0 0 0 rgba(117, 76, 135, 0.9);
}
@media (min-width: 640px) {
  .container .buttons button:nth-child(2):hover {
    box-shadow: inset -1000px 0 0 0 rgba(117, 76, 135, 0.9);
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */