@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Satisfy&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Serif Display", serif;
  background-color: #a28896;
}

.background {
  position: relative;
}
.background img {
  position: fixed;
  bottom: -72px;
  left: -128px;
  width: 514px;
  transform: rotate(16deg);
}

.container {
  height: 100vh;
  position: relative;
}
.container .header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 37px;
  background-color: rgba(255, 255, 255, 0.6392156863);
  padding: 30px 0;
  box-shadow: 9px -3px 20px 3px black;
}
.container .header h1 {
  font-size: 1.5rem;
}
.container .header p {
  font-size: 0.75rem;
}
.container .cardArea {
  padding: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.container .cardArea .totalScore {
  font-family: "Satisfy", cursive;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .cardArea .totalScore .total-sign {
  font-size: 1.1rem;
  text-shadow: -1px 0px 5px rgba(25, 25, 25, 0.831372549);
}
.container .cardArea .totalScore .score-sign {
  display: block;
  height: 42px;
  width: 42px;
  background-color: white;
  color: black;
  border-radius: 50%;
  margin-bottom: 10px;
  line-height: 46px;
}
.container .cardArea .cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.container .cardArea .cards .allCard {
  margin-bottom: 1em;
}
.container .cardArea .cards .allCard p {
  margin-bottom: 1em;
  font-size: 0.825em;
}
.container .cardArea .cards .allCard .cardContainer {
  border-radius: 6px;
  height: 200px;
  width: 100%;
  border: 3px solid black;
  transition: ease-in-out 0.4s;
  color: wheat;
}
.container .cardArea .cards .allCard .cardContainer:hover {
  background-color: rgba(117, 76, 135, 0.9);
}
.container .buttons {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
}
.container .buttons button {
  font-size: 1.2rem;
  font-family: "Satisfy", cursive;
  background-color: black;
  color: white;
  cursor: pointer;
  width: 50%;
  height: 41px;
  border: none;
  transition: ease-in-out 1s;
}
.container .buttons button:nth-child(1) {
  border-right: 2px solid black;
}
.container .buttons button:nth-child(1):hover {
  box-shadow: inset 300px 0 0 0 rgba(117, 76, 135, 0.9);
}
@media (min-width: 640px) {
  .container .buttons button:nth-child(1):hover {
    box-shadow: inset 1000px 0 0 0 rgba(117, 76, 135, 0.9);
  }
}
.container .buttons button:nth-child(2):hover {
  box-shadow: inset -300px 0 0 0 rgba(117, 76, 135, 0.9);
}
@media (min-width: 640px) {
  .container .buttons button:nth-child(2):hover {
    box-shadow: inset -1000px 0 0 0 rgba(117, 76, 135, 0.9);
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}/*# sourceMappingURL=style.css.map */